* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --menu-color: #0020ff; /* complementary to yellow background in image */
  --pop-out-color: #333333;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden visible;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: chartreuse;
  z-index: -10;
}

nav {
  width: 100%;
  position: relative;
}
.menu-shape {
  width: 20em;
  height: 20em;
  border-radius: 50%;
  background-color: var(--menu-color);
  position: absolute;
  top: -10em;
  left: -10em;
  z-index: 2;
}
.hidden {
  visibility: hidden;
}
.icon {
  width: 40px;
}
.in-circle {
  margin: 2.5em;
  z-index: 3;
}
.pop-out-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--pop-out-color);
  visibility: hidden;
  z-index: -1;
}
.menu-icon {
  color: white;
  visibility: inherit;
}
article {
  display: flex;
  flex-direction: column;
  width: 70vw;
  align-items: center;
  margin-top: 5em;
  z-index: 1;
}
.article-title {
  align-self: flex-start;
  font-weight: bolder;
}
.article-author {
  align-self: flex-start;
  font-style: italic;
  margin-bottom: .5em;
}
.article-text {
  align-self: flex-start;
  margin: .5em 0;
}
.image-title {
  font-weight: bold;
  align-self: flex-start;
  margin: .5em 0;
}
#my-friend {
  width: 100%;
  margin: .5em 0 .7em;
}
.article-date {
  font-style: italic;
  align-self: flex-end;
}
