* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --top-menu-color: #0020ff; /* complementary to yellow background in image */
  --under-menu-color: #333333;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#top-menu {
  z-index: 3;
}
article {
  z-index: 2;
}
#under-menu {
  z-index: 1;
}

.hidden {
  visibility: hidden;
}
.icon {
  width: 40px;
}

#top-menu {
  width: 100%;
  position: relative;

}
.top-menu-shape {
  width: 20em;
  height: 20em;
  border-radius: 50%;
  background-color: var(--top-menu-color);
  position: absolute;
  top: -10em;
  left: -10em;
  z-index: 1; /* bottom layer of top-menu */
}

.in-circle {
  margin: 2.5em;
  position: relative;
  z-index: 2; /* top layer of top-menu */
}

article {
  display: flex;
  flex-direction: column;
  width: 70vw;
  align-items: center;
  margin-top: 5em;
  background-color: chartreuse;
}
.article-title {
  align-self: flex-start;
  font-weight: bolder;
}
.article-author {
  align-self: flex-start;
  font-style: italic;
  margin-bottom: .5em;
}
.article-text {
  align-self: flex-start;
  margin: .5em 0;
}
.image-title {
  font-weight: bold;
  align-self: flex-start;
  margin: .5em 0;
}
#my-friend {
  width: 100%;
  margin: .5em 0 .7em;
}
.article-date {
  font-style: italic;
  align-self: flex-end;
}


#under-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 300px;
  left: 600px;
  background-color: var(--under-menu-color);
  z-index: 1;  /* bottom layer of container */
}
.under-menu-icon {
  color: white;
}


