* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --top-menu-color: #0020ff; /* complementary to yellow background in image */
  --under-menu-color: #333333;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#top-menu {
  position: relative;
  z-index: 3;
}
article {
  z-index: 2;
}
#under-menu {
  z-index: 1;
}

.top-menu-shape {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background-color: var(--top-menu-color);
  position: absolute;
  top: -10em;
  left: -10em;
}
.icon {
  font-size: 3rem;
  transition: all 1s ease-in-out;
}
.fa-bars {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
}
.fa-times {
  position: absolute;
  top: -4rem;
  left: -4rem;
}
.rotate-180 {
  transform:rotate(-180deg);
}
.bars-origin {
  transform-origin: -2.5rem -2.5rem;
}
.times-origin {
  transform-origin: 5rem 5rem;
}
.article-origin {
  transform-origin: left top;
}
article {
  width: 100vw;
  padding: 10rem 2rem 2rem 10rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: all 1s ease-in-out;
  background-color: white;
}
.rotate-20 {
  transform: rotate(-20deg);
}
.article-title {
  font-weight: bolder;
}
.article-author {
  font-style: italic;
  margin-bottom: .5em;
}
.article-text {
  margin: .5em 0;
}
.image-title {
  font-weight: bold;
  margin: .5em 0;
}
#my-friend {
  width: 100%;
  margin: .5em 0 .7em;
}
.article-date {
  font-style: italic;
  align-self: flex-end;
}


#under-menu {
  width: 75vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--under-menu-color);
  z-index: 1;  /* bottom layer of container */
}
.under-menu-icon {
  font-size: 2rem;
  color: white;
}


